<div class="main-content section-article">
  <div class="container">
    <div class="content">
      <div class="article-main" *ngIf="post">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kinh Doanh</li>
          </ol>
        </nav>
        <h1 class="article-title">
          {{ post.title }}
        </h1>
        <ul class="article-info">
          <li>
            <div class="media media-avatar">
              <a class="media-img" href="#">
                <img src="assets/dummy/avatar.jpg" width="64" height="64" alt="Peter Phan">
              </a>
              <div class="media-body">
                <span class="h5">Peter Phan</span>
              </div>
            </div>
          </li>
          <li>
            <time datetime="2020-08-25T10:00:11+07:00">25/08/2020</time>
          </li>
        </ul>
        <div class="article-image">
          <img src="assets/dummy/1068x712.jpg" alt="">
          <figure>Nguồn: Waterfrom.</figure>
        </div>
        <div class="article-container">
          <div class="article-actions">
            <a class="article-actions-save" href="javascript:;"><i class="icon-bookmark_outline"></i> Lưu</a>
            <div class="list-social hi-icon-effect-3 hi-icon-effect-3b">
              <a class="hi-icon icon-facebook" href="https://facebook.com">Facebook</a>
              <a class="hi-icon icon-whatsapp" href="https://facebook.com">Whatsapp</a>
              <a class="hi-icon icon-link" href="https://facebook.com">link</a>
            </div>
          </div>
          <div class="article-content">
            <div [innerHTML]="post.content"></div>
          </div>
          <ul class="article-info">
            <li>
              <div class="media media-avatar">
                <a class="media-img" href="#">
                  <img src="assets/dummy/avatar.jpg" width="64" height="64" alt="Peter Phan">
                </a>
                <div class="media-body">
                  <span class="h5">Peter Phan</span>
                </div>
              </div>
            </li>
            <li>
              <div class="article-actions">
                <a class="article-actions-save" href="javascript:;"><i class="icon-bookmark_outline"></i> Lưu</a>
                <div class="list-social hi-icon-effect-3 hi-icon-effect-3b">
                  <a class="hi-icon icon-facebook" href="https://facebook.com">Facebook</a>
                  <a class="hi-icon icon-whatsapp" href="https://facebook.com">Whatsapp</a>
                  <a class="hi-icon icon-link" href="https://facebook.com">link</a>
                </div>
              </div>
            </li>
          </ul>
          <dl class="article-tag">
            <dt>Từ khóa:</dt>
            <dd>
              <a href="#">năng lượng tái tạo</a>
              <a href="#">bất động sản</a>
              <a href="#">bổ sung vốn lưu động</a>
              <a href="#">bảo lãnh thanh toán</a>
              <a href="#">bcg</a>
              <a href="#">bamboo capital</a>
            </dd>
          </dl>
        </div>
  
      </div>
    </div>
    <app-aside class="aside"></app-aside>
  </div>
</div>
