<div class="main-content">
  <div class="container">
    <div class="content">
      <div class="section-nav"><h2 class="title">Blog</h2></div>
      <article *ngFor="let item of data$ | async as list" class="card card-entry">
        <a [routerLink]="['/p/' + item.slug + '-' + item.id]" href="#" class="card-img-wrap">
          <img src="assets/dummy/hq720.jpg" width="720" height="404" class="card-img" alt="..." loading="lazy">
        </a>
        <div class="card-body">
          <a [routerLink]="['/p/' + item.slug + '-' + item.id]" href="#" class="card-title">
            {{ item.title }}
          </a>
          <div class="card-info">
            <time class="entry-date" datetime="2020-09-01T10:24:10+07:00">01/09/2020</time>
            <a href="#">9 Bình luận</a>
          </div>
          <p class="card-text">Tìm hiểu trải nghiệm làm việc tại mô hình văn phòng chia sẻ cao cấp Sonatus, cùng
            Nguyễn Chí Kiên, Giám đốc Nhân sự của ACFC.</p>
          <div class="card-categories">
            <a href="category.html">Xu Hướng Kinh Doanh</a>
          </div>
        </div>
      </article>
      <div class="view-more">
        <a href="#" class="btn btn-outline-secondary">Xem thêm bài viết</a>
      </div>
    </div>
    <app-aside class="aside"></app-aside>
  </div>
</div>
