<div class="container">
  <div class="invisible-input-cont">
    <input #quillFile type="file" (change)="quillFileSelected($event)">
  </div>
  
  <div class="form-group">
    <input [(ngModel)]="title" type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  
  <quill-editor [(ngModel)]="content"
                [modules]="editorModules"
                (onEditorCreated)="getMeEditorInstance($event)"
                (onContentChanged)="onEditorContentChanged($event)"
  ></quill-editor>
  
  <button (click)="onSubmit()" type="button">save</button>
</div>
