<div class="card">
  <div class="card-header"><strong>Add New</strong></div>
  <div class="card-body">
    <div class="form-group">
      <input [(ngModel)]="title" class="form-control" id="f-title" type="text" placeholder="Add title">
    </div>
    <div class="form-group">
      <quill-editor [(ngModel)]="content"
                    [modules]="editorModules"
                    [styles]="{height: '250px'}"
                    (onEditorCreated)="getMeEditorInstance($event)"
                    (onContentChanged)="onEditorContentChanged($event)">
      </quill-editor>
    </div>
    <div class="invisible-input-cont">
      <input #quillFile type="file" (change)="quillFileSelected($event)">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-auto">Categories</div>
          <div class="col-md">
            <div *ngFor="let category of categories" class="p-field-checkbox">
              <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories"
                          [inputId]="category.key"></p-checkbox>
              <label [for]="category.key">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="onSubmit()" class="btn btn-primary" type="button">save</button>
  
  </div>
</div>
