/* ==========================================================================
Content
========================================================================== */
.app-loading {
  display: none;
}

.main {
  padding-bottom: 30px;
}

.view-more {
  text-align: center;
  margin: 30px 0;
}

.title {
  margin: 0 0 15px;
  color: $body-color;
  border-left: 4px solid $primary;
  padding-left: 12px;
  font-size: 24px;
  text-transform: uppercase;

  a {
    color: inherit;
  }
}
