/* ==========================================================================
Header
========================================================================== */
.header {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
}

.navbar-brand {
  margin-right: auto;
  @include flexbox;

  img {
    height: 32px;
    width: auto;
  }
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    color: inherit;
    padding: 10px 0;
    line-height: 20px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 5px 8px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);

  & + input {
    display: none;
  }

  .navbar-toggler-icon {
    display: block;
    background-color: $body-color;
    position: relative;

    &, &:before, &:after {
      content: '';
      height: 2px;
      display: block;
      background-color: $body-color;
      width: 100%;
    }

    &:before, &:after {
      position: absolute;
      left: 0;
      @include transition($transition-base);
    }

    &:after {
      top: -8px;
    }

    &:before {
      bottom: -8px;
    }
  }
}

#menu-toggle {
  display: none;

  &:checked {
    + .navbar-toggler {
      .navbar-toggler-icon {
        background-color: transparent;

        &:before, &:after {
          top: 0;
          bottom: 0;
        }

        &:before {
          @include transform(rotate3d(0, 0, 1, 45deg));
        }

        &:after {
          @include transform(rotate3d(0, 0, 1, -45deg));
        }
      }
    }

    ~ .navbar-collapse {
      max-height: 1000px;
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-collapse {
    @include flex-basis(100%);
    @include flex-grow(1);
    max-height: 0;
    @include transition($transition-base);
    overflow: hidden;
  }

}
