<ng-container *ngIf="data$ | async as data">
  <p-table #dt [columns]="cols"
           [value]="data"
           [(selection)]="selectedData"
           [paginator]="true"
           [rows]="constantsTable.rows"
           [rowsPerPageOptions]="constantsTable.rowsPerPageOptions"
           styleClass="table-datatable table-websites"
           dataKey="id">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="tb-col-checkbox">
          #
        </th>
        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
          <th *ngSwitchCase="'categories'" class="tb-col-{{col.field}}">
            {{col.header}}
          </th>
          <!--<th *ngSwitchCase="'status'" class="tb-col-{{col.field}}">
            {{col.header}}
          </th>-->
          <th *ngSwitchDefault class="tb-col-{{col.field}}" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </ng-container>
        <th class="tb-col-actions">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData">
        <td class="tb-col-checkbox">
          {{ rowIndex + 1 }}
        </td>
        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
          <td *ngSwitchCase="'title'" class="tb-col-{{col.field}}">
            <a href="#" [routerLink]="['/admin/posts/edit', rowData.id]">{{ rowData[col.field] }}</a>
          </td>
          <td *ngSwitchDefault class="tb-col-{{col.field}}">
            {{ rowData[col.field] }}
          </td>
        </ng-container>
        <td class="tb-col-actions">
        
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
      <!--      <app-table-rowsPerPageOptions [state]="state"></app-table-rowsPerPageOptions>-->
    </ng-template>
  </p-table>
</ng-container>
