<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-logo">
      <a [routerLink]="['/']" href="/"><img src="assets/images/logo.svg" alt="Logo" loading="lazy"></a>
      <span>just living the life as it goes by</span>
    </div>
    <div class="footer-social">
      <div class="list-social hi-icon-effect-3 hi-icon-effect-3b">
        <a class="hi-icon icon-facebook" href="https://facebook.com">Facebook</a>
        <a class="hi-icon icon-instagram" href="https://facebook.com">instagram</a>
        <a class="hi-icon icon-youtube-play" href="https://facebook.com">youtube</a>
      </div>
    </div>
  </div>
</footer>
