<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Categories List</strong>
    <div>
      <button (click)="onOpenFormModal(modalForm)" type="button" class="btn btn-primary"><i class="pi pi-plus"></i> Add
        new
      </button>
    </div>
  </div>
  <div class="card-body">
    <ng-container *ngIf="data$ | async as data">
      <p-table #dt [columns]="cols"
               [value]="data"
               [(selection)]="selectedData"
               [rows]="constantsTable.rows"
               [rowsPerPageOptions]="constantsTable.rowsPerPageOptions"
               styleClass="table-datatable table-categories"
               dataKey="id">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
              <th *ngSwitchCase="'categories'" class="tb-col-{{col.field}}">
                {{col.header}}
              </th>
              <th *ngSwitchDefault class="tb-col-{{col.field}}" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex"
                     let-expanded="expanded">
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
              <td *ngSwitchCase="'name'" class="tb-col-{{col.field}}">
                <div class="table-datatable-menus">
                  <a href="#" [routerLink]="['/admin/posts/edit', rowData.id]">
                    <span *ngIf="rowData.parent">— </span>{{ rowData[col.field] }}
                  </a>
                  <ul class="table-datatable-actions">
                    <li>
                      <a (click)="onOpenFormModal(modalForm, rowData)" href="#">Edit</a>
                    </li>
                    <li>
                      <a (click)="onDelete(rowData)" href="#">Delete</a>
                    </li>
                    <li>
                      <a href="#">View</a>
                    </li>
                  </ul>
                </div>
              
              </td>
              <td *ngSwitchDefault class="tb-col-{{col.field}}">
                {{ rowData[col.field] }}
              </td>
            </ng-container>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length + 1">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  
  </div>
</div>

<ng-template #modalForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" novalidate [ngClass]="{'ng-was-validated-invalid': submitted}">
      <div class="form-group">
        <label for="f-name">Name</label>
        <input id="f-name" autocomplete="off" [formControl]="name" type="text"
               class="form-control form-control-custom"
               placeholder="">
        <small *ngIf="name.invalid" class="invalid-feedback">
          <span *ngIf="name.errors['required']">{{ validationMessages.name.required }}</span>
        </small>
        <span class="help-block">The name is how it appears on your site.</span>
      </div>
      <div class="form-group">
        <label for="f-slug">Slug</label>
        <input class="form-control" id="f-slug" [formControl]="slug" type="text" placeholder="">
        <small *ngIf="slug.invalid" class="invalid-feedback">
          <span *ngIf="slug.errors['required']">{{ validationMessages.slug.required }}</span>
        </small>
        <span class="help-block">The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</span>
      </div>
      <div class="form-group">
        <label>Parent Category</label>
        <p-dropdown class="d-block" [options]="categories" formControlName="parentId"></p-dropdown>
        <span class="help-block">Categories, unlike tags, can have a hierarchy. You might have a Jazz category, and under that have children categories for Bebop and Big Band. Totally optional.</span>
      </div>
      <div class="form-group">
        <label for="f-description">Description</label>
        <textarea [formControl]="description" class="form-control" id="f-description" rows="3"></textarea>
        <span
            class="help-block">The description is not prominent by default; however, some themes may show it.</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    <button [disabled]="!form.valid" (click)="onSubmit()" class="btn btn-primary" type="submit">Save</button>
  </div>
</ng-template>
